<html xmlns:th="http://www.thymeleaf.org"
   th:replace="~{layout/owner :: content('Statistics', ~{this :: .content-wrapper})}">
   <head>
      <title></title>
   </head>
   <body>
      <div class="content-wrapper">
         <!-- Content Header (Page header) -->
         <section class="content-header">
            <div class="container-fluid">
               <div class="row mb-2">
                  <div 
                     style="text-align: right;position:relative; 
							font-size:30px; 
							color: white;
							letter-spacing:0px; 
							width:400px; text-align:center; 
							margin:auto; white-space:nowrap; 
							border:1px solid white;
							border-radius: 50%;
							padding:5px 11px 3px 11px;
							background-color: 343a40;
							font-family: Arial, Helvetica, sans-serif;
							text-align:center;
							text-transform:uppercase; ">
                     <h1>Revenue</h1>
                  </div>
               </div>
            </div>
         </section>
         <!-- Main content -->
         <section class="content">
            <div class="card-body">
				<table id="example3" class="table table-bordered table-striped">
						<thead>
							<tr align="center">
								<th>Order</th>
								<th>Hotel</th>
								<th>Paid</th>
								<th>Cancelled</th>
								<th>Total ($)</th>
							</tr>
						</thead>
						<tbody>
							<tr align="center" th:each="stt : ${hotels}">
								<td><a class="btn btn-info btn-sm" th:href="@{'/owner/statistics/statistic_hotel/' + ${stt.id}}"><i class='fa fa-shopping-cart'></i></a></td>
								<td th:text="${stt.name}"></td>
								<td th:text="${@hotelService.countPaid(stt.id)}"></td>
								<td th:text="${@hotelService.countCancel(stt.id)}"></td>
								<td th:text="${@hotelService.sumTotalByHotel(stt.id)}"></td>
							</tr>
						</tbody>
							<tr style="background-color: ghostwhite;">
							   <td colspan="4"></td>
							   <td th:text="${total}" align="center"></td>
						   </tr>
					</table>
	           </div>
         </section>
         <!-- /.content -->
      </div>
   </body>
</html>