<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/owner :: content('Statistics Hotel', ~{this :: .content-wrapper})}">
<head>
<title></title>
</head>
<body>

	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div 
					style="text-align: right;position:relative; 
							font-size:30px; 
							color: white;
							letter-spacing:0px; 
							width:400px; text-align:center; 
							margin:auto; white-space:nowrap; 
							border:1px solid white;
							border-radius: 50%;
							padding:5px 11px 3px 11px;
							background-color: 343a40;
							font-family: Arial, Helvetica, sans-serif;
							text-align:center;
							text-transform:uppercase; ">
						<h1>Revenue</h1>
					</div>
				</div>
			</div>

			
		</section>
		<!-- Main content -->
		<section class="content">
			 <div class="row">
               <div style="margin: 0 0 0 12px" class="form-group">
	               <form method="GET" th:action="@{/owner/statistics/month}">
	                  <div style="display: flex; align-items: center;">
	                     <select class="custom-select rounded-0" id="exampleSelectRounded0" name="month">
		                        <option th:value="1">January</option>
		                        <option th:value="2">February</option>
		                        <option th:value="3">March</option>
		                        <option th:value="4">April</option>
		                        <option th:value="5">May</option>
		                        <option th:value="6">June</option>
		                        <option th:value="7">July</option>
		                        <option th:value="8">August</option>
		                        <option th:value="9">September</option>
		                        <option th:value="10">October</option>
		                        <option th:value="11">November</option>
		                        <option th:value="12">December</option>
		                 </select>
	                     <div style="margin: 0 10px">
	                        <input type="text" name="year" class="form-control" placeholder="Start year...">
	                     </div>
	                     <button type="submit"style="width:40; height: 40; outline: none; padding: 8px; border-radius: 50%; align-items: center;">
	                     <i class="fas fa-search"></i>
	                     </button>
	                     <input type="hidden" name="idHotel" th:value="${idHotel}">
	                  </div>
	               </form>
            	</div>
            	<div style="position: absolute; left: 70%;" class="form-group">
	                 <form method="GET" th:action="@{/owner/statistics/filterByDate}">
	                  <div style="display: flex; align-items: center;">
	                     <div style="margin: 0 10px">
	                        <input type="text" id="datepicker1" name="from"
	                           class="form-control" placeholder="Start date...">
	                     </div>
	                     <div style="margin-right: 10px">
	                        <input type="text" id="datepicker2" name="to"
	                          class="form-control" placeholder="End date...">
	                     </div>
	                     <button type="submit"
	                        style="width:40; height: 40; padding: 8px; border-radius: 50%; align-items: center;">
	                     <i class="fas fa-search"></i>
	                     </button>
	                     <input type="hidden" name="idHotel" th:value="${idHotel}">
	                  </div>
	               </form>
               </div>
              
            </div>
			<table id="example1" class="table table-bordered table-striped">
	               <thead>
	                  <tr align="center">
						 <th>Code</th>
						 <th>Name</th>
	                     <th>Note</th>
	                     <th>Room</th>
	                     <th>Hotel</th>
	                     <th>Status</th>
	                     <th>Date</th>
	                     <th>Created</th>
	                     <th>Update</th>
	                     <th>Total</th>
	                  </tr>
	               </thead>
	               <tbody>
	                  <tr align="center" th:each="stt : ${bookRooms}">
	                     <td th:text="${stt.book.codeBook}"></td>
	                     <td th:text="${stt.book.account.username}"></td>
	                     <td th:text="${stt.book.note}"></td>
	                     <td th:utext="${stt.datePrice.room.content}"></td>
	                     <td th:text="${stt.datePrice.room.hotel.name}"></td>
	                     <td>
							<th:block th:if="${stt.book.status == true}">
								<div>
									<span style="background-color: #65B741;
									  border: none;
									  color: white;
									   border-radius: 5%;
									  padding: 9px 25px;
									  font-size: 10px;
									  text-align: center;
									  text-decoration: none;
									  display: inline-block;
									  font-size: 16px;">Actived</span>
								</div>
							</th:block>
							<th:block th:if="${stt.book.status == false}">
								<div>
									<span style="background-color: #BF3131;
									  border: none;
									  border-radius: 5%;
									  color: white;
									  font-size: 10px;
									  padding: 9px 25px;
									  text-align: center;
									  text-decoration: none;
									  display: inline-block;
									  font-size: 16px;">Passive</span>
								</div>
							</th:block>
						 </td>
	                     <td th:text="${stt.book.date}"></td>
	                     <td th:text="${stt.book.created}"></td>
	                     <td th:text="${stt.book.updated}"></td>
	                     <td th:text="${stt.book.total}"></td>
	                  </tr>	
	               </tbody>
	               <tr style="background-color: ghostwhite;">
					   <td colspan="9" align="right">Paid</td>
					   <td th:text="${sum} + ' $'" align="center"></td>
				   </tr>
	            </table>
		</section>
		<!-- /.content -->
	</div>


</body>
</html>